## C6M2L2 Item 03 â€“ Filtering and sorting data

## Prerequisites 

To complete this exercise, you must have access to the `little_lemon` database. You need to `import MySQL Python/Connector` and, as an authorized user, establish a connection between Python and the MySQL database via connector API using the following code:

In [12]:
import mysql.connector as connector

In [32]:
# Establish connection b/w Python and MySQL database via connector API
connection=connector.connect(
                             user="admin-meta", # use your own
                             password="admin", # use your own
                            )

Once, the connection is established, create a `cursor` object to communicate with the entire MySQL database from your python working environment.

In [33]:
# Create cursor object to communicate with entire MySQL database
cursor = connection.cursor()

Now, you can select the database `little_lemon` using the code below and work with the respective tables to accomplish the required tasks.

In [34]:
# Set little_lemon for use 
cursor.execute("use little_lemon")

# Confirm the database in use
connection.database

'little_lemon'

In [35]:
# Setting little_lemon for use 
cursor.execute("use little_lemon")

# Confirming
print("Database is use is:", connection.database)
print()
print("The existing tables in the little_lemon database are:")
cursor.execute("SHOW TABLES") 
# Print table names 
for table in cursor: 
    print(table)

Database is use is: little_lemon

The existing tables in the little_lemon database are:
('Bookings',)
('MenuItems',)
('Menus',)
('Orders',)

## Scenario 

Little Lemon need to filter and sort the data in their MySQL database using Python to complete the following tasks: 

* Determine which waiter is serving which guest 
* Identify all guests who paid a bill amount above a certain threshold 
* And list all starters above a certain price and order with the price. 

Help Little Lemon extract this data from their database using filtering and sorting techniques.

In [37]:
# Read query is:

#all_bookings = """SELECT GuestFirstName, GuestLastName, TableNo FROM bookings;"""

all_bookings = """SELECT * FROM bookings;"""

# Eexecute query 
cursor.execute(all_bookings)

# Fetch all results that satisfy the query 
results = cursor.fetchall()

# Retrieve column names
cols = cursor.column_names

# Print column names and records from results using for loop
print("""Data in the "Bookings" table:""")
print(cols)
for result in results:
    print(result)

Data in the "Bookings" table:
('BookingID', 'TableNo', 'GuestFirstName', 'GuestLastName', 'BookingSlot', 'EmployeeID')
(1, 12, 'Anna', 'Iversen', datetime.timedelta(seconds=68400), 1)
(2, 11, 'Joakim', 'Iversen', datetime.timedelta(seconds=68400), 6)
(3, 19, 'Vanessa', 'McCarthy', datetime.timedelta(seconds=54000), 3)
(4, 15, 'Marcos', 'Romero', datetime.timedelta(seconds=63000), 4)
(5, 5, 'Hiroki', 'Yamane', datetime.timedelta(seconds=66600), 2)
(6, 10, 'Diana', 'Pinto', datetime.timedelta(seconds=72000), 5)

## Task 1: 

Little Lemon need to know how many bookings they have today for table number 12. They also need to know the names of the guests booked for table 12 and who their servers are. 

Help Little Lemon to complete this task by filtering the records for table 12 from the Bookings table. Show the required records for the following columns in the output: 

* `TableNo`, 
* `GuestFirstName`
* `GuestLastName`
* `EmployeeID`

**Exercises**

In [38]:
# Task 1
# The SQL query is:
filtering_and_sorting = """SELECT TableNo, 
GuestFirstName, GuestLastName, EmployeeID  
FROM Bookings 
WHERE TableNo= 12;"""

# Execute query
cursor.execute(filtering_and_sorting)

# Fetch records 
results = cursor.fetchall()

# Retrieve column names
columns = cursor.column_names

# Print column names
print(columns)

# Print query results
for result in results:
    print(result)

('TableNo', 'GuestFirstName', 'GuestLastName', 'EmployeeID')
(12, 'Anna', 'Iversen', 1)

## Task 2: 

Little lemon wants to send a coupon to all guests who spent more than $40 at the restaurant today.  

Help little lemon to filter and sort the records of all quests who qualify for coupon.   


**TIP:** Target the `BookingID` and `BillAmount` columns in the `Orders` table. Sort the data based on `BillAmount` in `DESC`. 

Use a fetch module on the cursor or set the limit in your SQL query.

In [39]:
all_orders = """SELECT * FROM Orders;"""

# Eexecute query 
cursor.execute(all_orders)

# Fetch all results that satisfy the query 
results = cursor.fetchall()

# Retrieve column names
cols = cursor.column_names

# Print column names and records from results using for loop
print("""Data in the "Orders" table:\n""")
print(cols)
for result in results:
    print(result)

Data in the "Orders" table:

('OrderID', 'TableNo', 'MenuID', 'BookingID', 'BillAmount', 'Quantity')
(1, 12, 1, 1, 86, 2)
(2, 19, 2, 2, 37, 1)
(3, 15, 2, 3, 37, 1)
(4, 5, 3, 4, 40, 1)
(5, 8, 1, 5, 43, 1)

In [40]:
# Task 2 option 1
# Resetting cursor
#cursor.fetchall()

# The SQL query is:
filtering_and_sorting = """SELECT BookingID, BillAmount
FROM
Orders ORDER BY BillAmount DESC;"""

# Execute query
cursor.execute(filtering_and_sorting)

# Fetch records 
results = cursor.fetchmany(size=2)#fetchall()

# Retrieve column names
columns = cursor.column_names

# Print column names
print(columns)

# Print query results
for result in results:
    print(result)

('BookingID', 'BillAmount')
(1, 86)
(5, 43)

In [46]:
# Resetting cursor
cursor.fetchall()

# Task 2 Option 2

# The SQL query is:
filtering_and_sorting = """SELECT BookingID, BillAmount
FROM
Orders ORDER BY BillAmount DESC LIMIT 2;"""

# Execute query
cursor.execute(filtering_and_sorting)

# Fetch records 
results = cursor.fetchall()

# Retrieve column names
columns = cursor.column_names

# Print column names
print(columns)

# Print query results
for result in results:
    print(result)

('BookingID', 'BillAmount')
(1, 86)
(5, 43)

## Task 3: 

Little lemon needs to determine what the most and least expensive starters and desserts on their menu items are. 

Help them out by filtering the menu items and sorting them by price using python.  

**TIP:** Filter the records based on the `Type` column in the `MenuItems` table. Sort the records by `Price` column in `DESC` order.

In [80]:
all_menuItems = """SELECT * FROM MenuItems;"""

# Eexecute query 
cursor.execute(all_menuItems)

# Fetch all results that satisfy the query 
results = cursor.fetchall()

# Retrieve column names
cols = cursor.column_names

# Print column names and records from results using for loop
print("""Data in the "Menu Items" table:\n""")
print(f"{cols[0]}     {cols[1]}             {cols[2]}                    {cols[3]}")
for result in results:
    print(f"{result[0]}          {result[1]}           {result[2]}                {result[3]}")

Data in the "Menu Items" table:

ItemID     Name             Type                    Price
1          Olives           Starters                5
2          Flatbread           Starters                5
3          Minestrone           Starters                8
4          Tomato bread           Starters                8
5          Falafel           Starters                7
6          Hummus           Starters                5
7          Greek salad           Main Courses                15
8          Bean soup           Main Courses                12
9          Pizza           Main Courses                15
10          Greek yoghurt           Desserts                7
11          Ice cream           Desserts                6
12          Cheesecake           Desserts                4
13          Athens White wine           Drinks                25
14          Corfu Red Wine           Drinks                30
15          Turkish Coffee           Drinks                10
16          Turkish Coffee           Drinks                10
17          Kabasa           Main Courses                17

In [83]:
# Task 3

# The SQL query is:
filtering_and_sorting = """SELECT * 
FROM MenuItems 
WHERE (Type = 'Starters' OR Type = 'Desserts')
ORDER BY Price DESC;"""

# Execute query
cursor.execute(filtering_and_sorting)

# Fetch records 
results = cursor.fetchall()

# Retrieve column names
columns = cursor.column_names

# Print column names and records 
print("""Data in the "Menu Items" table:\n""")
print(f"{cols[0]}     {cols[1]}             {cols[2]}                    {cols[3]}")
for result in results:
    print(f"{result[0]}          {result[1]}           {result[2]}                {result[3]}")

Data in the "Menu Items" table:

ItemID     Name             Type                    Price
3          Minestrone           Starters                8
4          Tomato bread           Starters                8
5          Falafel           Starters                7
10          Greek yoghurt           Desserts                7
11          Ice cream           Desserts                6
1          Olives           Starters                5
2          Flatbread           Starters                5
6          Hummus           Starters                5
12          Cheesecake           Desserts                4

In [84]:
# Let's close the cursor and the connection
if connection.is_connected():
    cursor.close()
    print("The cursor is closed.")
    connection.close()
    print("MySQL connection is closed.")
else:
    print("Connection is already closed")

The cursor is closed.
MySQL connection is closed.