## C6M2L2 Item 07 – Performing different JOIN operations in MySQL database using python

## Prerequisites 

To complete this exercise, you must have access to the `little_lemon` database. You need to import MySQL Python/Connector and, as an authorized user, establish a connection between Python and the MySQL database via connector API using the following code:

In [1]:
import mysql.connector as connector

In [81]:
# Establish connection b/w Python and MySQL database via connector API
connection=connector.connect(
                             user="admin-meta", # use your own
                             password="admin", # use your own
                            )

Once, the connection is established, create a `cursor` object to communicate with the entire MySQL database from your python working environment.

In [82]:
# Create cursor object to communicate with entire MySQL database
cursor = connection.cursor()

Now, you can select the database `little_lemon` using the code below and work with the respective tables to accomplish the required tasks.

In [83]:
# Set little_lemon database for use 
cursor.execute("use little_lemon")

# Confirm the database in use
connection.database

'little_lemon'

## Scenario 

Little Lemon needs to carry out the following tasks with their datasets: 

* Determine the final bill amount for each customer who attended the restaurant today 
* Identify the type of cuisine that each item in their menu belongs to. 

Help Little Lemon to complete these tasks using “JOIN” operations on the restaurant’s MySQL database using Python.

## Task 1:

Little Lemon need the following information for each of the items in their menu: 

* The name of each item in the menu, 
* Each menu item’s type, 
* Each menu item’s cuisine, 
* and the price of each item in the menu. 

Help Little Lemon to extract this data from their database using Python. 

**TIP:** You need to combine records from the `MenuItems` and `Menu` tables using the `JOIN` operation and show only the requested columns in the output.

In [84]:
all_menuItems = """SELECT * FROM MenuItems;"""

# Eexecute query 
cursor.execute(all_menuItems)

# Fetch all results that satisfy the query 
results = cursor.fetchall()

# Retrieve column names
cols = cursor.column_names

# Print column names and records from results using for loop
print("""Data in the "Menu Items" table:\n""")
print(f"{cols[0]}     {cols[1]}             {cols[2]}                    {cols[3]}")
print("-"*60) 
for result in results:
    print(f"{result[0]}          {result[1]}           {result[2]}                {result[3]}")

Data in the "Menu Items" table:

ItemID     Name             Type                    Price
------------------------------------------------------------
1          Olives           Starters                5
2          Flatbread           Starters                5
3          Minestrone           Starters                8
4          Tomato bread           Starters                8
5          Falafel           Starters                7
6          Hummus           Starters                5
7          Greek salad           Main Courses                15
8          Bean soup           Main Courses                12
9          Pizza           Main Courses                15
10          Greek yoghurt           Desserts                7
11          Ice cream           Desserts                6
12          Cheesecake           Desserts                4
13          Athens White wine           Drinks                25
14          Corfu Red Wine           Drinks                30
15          Turkish Coffee           Drinks                10
16          Turkish Coffee           Drinks                10
17          Kabasa           Main Courses                17

In [85]:
all_orders = """SELECT * FROM Menus;"""

# Eexecute query 
cursor.execute(all_orders)

# Fetch all results that satisfy the query 
results = cursor.fetchall()

# Retrieve column names
cols = cursor.column_names

# Print column names and records from results using for loop
print("""Data in the "Menus" table:\n""")
print(f"{cols[0]}     {cols[1]}    {cols[2]} ")
print("-"*30) 
for result in results:
     print(f"{result[0]}          {result[1]}         {result[2]}")

Data in the "Menus" table:

MenuID     ItemID    Cuisine
------------------------------
2          3         Italian
2          9         Italian
2          12         Italian
2          15         Italian
3          5         Turkish
3          11         Turkish
3          16         Turkish
3          17         Turkish

In [99]:
# Task 1

# The SQL query is:
join_query="""SELECT 
MenuItems.Name AS Item_Name, 
MenuItems.Type AS Item_Type, 
Menus.Cuisine AS Cuisine, 
MenuItems.Price AS Price 
FROM MenuItems 
INNER JOIN Menus ON MenuItems.ItemID=Menus.ItemID;"""

# Execute query
cursor.execute(join_query)

# Fetch records 
results = cursor.fetchall()

# Retrieve column names
cols = cursor.column_names

# Print column names
print(f"INNER JOIN Query On ItemID  \n")
print(f"{join_query}\n")

# Print query results
# Print column names and records from results using for loop
print("""Result from Inner Join Query on ItemID :\n""")
print(f"{cols[0]}        {cols[1]}           {cols[2]}                   {cols[3]}")
print("-"*70) 
for result in results:
    print(f"{result[0]}            {result[1]}           {result[2]}                {result[3]}")

INNER JOIN Query On ItemID

SELECT
MenuItems.Name AS Item_Name,
MenuItems.Type AS Item_Type,
Menus.Cuisine AS Cuisine,
MenuItems.Price AS Price
FROM MenuItems
INNER JOIN Menus ON MenuItems.ItemID=Menus.ItemID;

Result from Inner Join Query on ItemID :

Item_Name        Item_Type           Cuisine                   Price
----------------------------------------------------------------------
Minestrone            Starters           Italian                8
Pizza            Main Courses           Italian                15
Cheesecake            Desserts           Italian                4
Turkish Coffee            Drinks           Italian                10
Falafel            Starters           Turkish                7
Ice cream            Desserts           Turkish                6
Turkish Coffee            Drinks           Turkish                10
Kabasa            Main Courses           Turkish                17

## Task 2:

Little Lemon notice that there are several menu items missing from the output of the previous task. 

Help Little Lemon to identify these missing items by using a `JOIN` operation in Python to return data for the missing records. 

**TIP:** Use a `JOIN` operation to return the missing data by joining the `MenuItems` and Menu tables.

In [111]:
# Task 2
# Good to specify column from the table
# Try left, right, inner

# The SQL query is:
join_query="""SELECT 
MenuItems.Name AS Item_Name, 
MenuItems.Type AS Item_Type, 
Menus.Cuisine AS Cuisine, 
MenuItems.Price AS Price 
FROM MenuItems 
LEFT JOIN Menus ON MenuItems.ItemID=Menus.ItemID
WHERE Cuisine IS NULL;"""

# Execute query
cursor.execute(join_query)

# Fetch records 
results = cursor.fetchall()

# Retrieve column names
cols = cursor.column_names

# Print column names
#print(cols)

print(f"INNER JOIN Query On ItemID  Where Cuisine is NULL \n")
print(f"{join_query}\n")


# Print query results
print(f"{cols[0]}        {cols[1]}        {cols[2]}              {cols[3]}")
print("-"*70) 
for result in results:
    print(f"{result[0]}          {result[1]}           {result[2]}                {result[3]}")

INNER JOIN Query On ItemID  Where Cuisine is NULL

SELECT
MenuItems.Name AS Item_Name,
MenuItems.Type AS Item_Type,
Menus.Cuisine AS Cuisine,
MenuItems.Price AS Price
FROM MenuItems
LEFT JOIN Menus ON MenuItems.ItemID=Menus.ItemID
WHERE Cuisine IS NULL;

Item_Name        Item_Type        Cuisine              Price
----------------------------------------------------------------------
Olives          Starters           None                5
Flatbread          Starters           None                5
Tomato bread          Starters           None                8
Hummus          Starters           None                5
Greek salad          Main Courses           None                15
Bean soup          Main Courses           None                12
Greek yoghurt          Desserts           None                7
Athens White wine          Drinks           None                25
Corfu Red Wine          Drinks           None                30

## Task 3:

Little Lemon restaurant need you to help them retrieve the following information from the `Bookings` and the `Orders` tables in their MySQL database using Python: 

* Booking ID 
* Table number 
* Guest first name 
* Server ID 
* Bill amount  

**TIP:** Combine the records from the `Bookings` and the `Orders` tables using a `JOIN` operation. The requested column `ServerID` is the `EmployeeID` column in the `Booking` table. Create an alias for this purpose.

In [112]:
all_bookings = """SELECT * FROM bookings;"""

# Eexecute query 
cursor.execute(all_bookings)

# Fetch all results that satisfy the query 
results = cursor.fetchall()

# Retrieve column names
cols = cursor.column_names

# Print column names and records from results using for loop
print("""Data in the "Bookings" table:""")
print(cols)
for result in results:
    print(result)

Data in the "Bookings" table:
('BookingID', 'TableNo', 'GuestFirstName', 'GuestLastName', 'BookingSlot', 'EmployeeID')
(1, 12, 'Anna', 'Iversen', datetime.timedelta(seconds=68400), 1)
(2, 11, 'Joakim', 'Iversen', datetime.timedelta(seconds=68400), 6)
(3, 19, 'Vanessa', 'McCarthy', datetime.timedelta(seconds=54000), 3)
(4, 15, 'Marcos', 'Romero', datetime.timedelta(seconds=63000), 4)
(5, 5, 'Hiroki', 'Yamane', datetime.timedelta(seconds=66600), 2)
(6, 10, 'Diana', 'Pinto', datetime.timedelta(seconds=72000), 5)

In [109]:
# Task 3

# The SQL query is:
join_query="""SELECT 
Bookings.BookingID,
Bookings.TableNo,
Bookings.GuestFirstName,
Bookings.EmployeeID AS ServerID,
Orders.BillAmount
FROM Bookings
LEFT JOIN Orders ON Bookings.BookingID = Orders.BookingID;
"""

# Execute query
cursor.execute(join_query)

# Fetch records 
results = cursor.fetchall()

# Retrieve column names
cols = cursor.column_names

# Print column names
#print(columns)

# Print query results
print(f"{cols[0]}  {cols[1]}      {cols[2]}    {cols[3]}       {cols[4]}")
print("-"*70) 
for result in results:
    print(f"{result[0]}            {result[1]}          {result[2]}             {result[3]}                    {result[4]}")

BookingID  TableNo      GuestFirstName    ServerID       BillAmount
----------------------------------------------------------------------
1            12          Anna             1                    86
2            11          Joakim             6                    37
3            19          Vanessa             3                    37
4            15          Marcos             4                    40
5            5          Hiroki             2                    43
6            10          Diana             5                    None

In [65]:
# Let's close the cursor and the connection
if connection.is_connected():
    cursor.close()
    print("The cursor is closed.")
    connection.close()
    print("MySQL connection is closed.")
else:
    print("Connection is already closed")

The cursor is closed.
MySQL connection is closed.