## C6M1L2 Item 11 - Create Your Table Structure

## Prerequisites 

To complete this exercise, you must have access to the MySQL database. As an authorized user, you need to establish a connection between Python and MySQL via the connector API and create a “cursor” object using the following code:

In [1]:
#!pip install mysql-connector-python

!pip show mysql-connector-python

Name: mysql-connector-python
Version: 8.3.0
Summary: MySQL driver written in Python
Home-page: http://dev.mysql.com/doc/connector-python/en/index.html
Author: Oracle and/or its affiliates
Author-email:
License: GNU GPLv2 (with FOSS License Exception)
Location: /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages
Requires:
Required-by:

In [2]:
import mysql.connector as connector

In [5]:
# Establish connection between Python and MySQL database via connector API
connection=connector.connect(
                             user="admin-meta", # use your own
                             password="admin", # use your own
                            )

Once the connection is established and you have a cursor object, you can carry out the required tasks.

In [6]:
# Create a cursor object to communicate with entire MySQL database
cursor = connection.cursor()

## Scenario 

Little Lemon needs a Python-based application in which they can organize their data within different tables in a MySQL database.  

First, they need to create their database. Then they need to create the database’s tables.  

The list of tables they need to create are as follows: 

* A table called Menu that stores menu data 
* A table called MenuItems that stores data on menu items 
* A table called Orders that stores data on customer orders 
* And a table called Bookings that stores data on customer bookings 

Complete the tasks that follow to help Little Lemon create the database and the tables.

## Task 1:
Little Lemon need to create a database that can hold their tables. Create a MySQL database for Little Lemon using Python. You can call the database “little_lemon”. 
You also need to confirm that the database has been successfully created by executing the `“SHOW DATABASE”` query. 

**Tip:** If a database with the same name already exists, then you’ll receive an error confirming its existence. Otherwise, your code will be executed with no output.

In [ ]:
# If exist, drop the database first 
cursor.execute("drop database little_lemon")

# Create database and checking all that we have!

cursor.execute("CREATE DATABASE little_lemon")
cursor.execute("SHOW DATABASES")
for database in cursor:
    print(database)

**Refactor task 1 code**

In [8]:
cursor = connection.cursor()

try:
    # If database exists, drop it
    cursor.execute("drop database little_lemon")
    print("Database 'little_lemon' dropped successfully.")
except connector.Error as err:
    if err.errno == connector.errorcode.ER_BAD_DB_ERROR:
        print("Database 'little_lemon' doesn't exist.")
    else:
        print("Error:", err)


# Create database and checking all that we have!
cursor.execute("CREATE DATABASE little_lemon")
print("\nDatabase 'little_lemon' created successfully")
print("\n Viewing all DATABASES : ")
cursor.execute("SHOW DATABASES")
for database in cursor:
    print("-", database)

Error: 1008 (HY000): Can't drop database 'little_lemon'; database doesn't exist

Database 'little_lemon' created successfully

 Viewing all DATABASES :
- ('billing',)
- ('employees',)
- ('information_schema',)
- ('littelemon',)
- ('little_lemon',)
- ('mg_schema',)
- ('mysql',)
- ('performance_schema',)
- ('reservations',)
- ('sales',)
- ('sys',)
- ('toll_data',)
- ('tolldata',)
- ('world',)

## Task 2:
Set the newly created database `“little_lemon”` for use. Confirm that the database is available for use by using `connection.database`. 

**Tip:** If the `“little_lemon”` database already exists, then the code in your jupyter notebook cell should execute without any error.

In [9]:
# Set little_lemon database for use 
cursor.execute("USE little_lemon")

# Confirm the database in use
connection.database

'little_lemon'

In [10]:
cursor.execute("SHOW DATABASES")
for database in cursor:
    print(database)

('billing',)
('employees',)
('information_schema',)
('littelemon',)
('little_lemon',)
('mg_schema',)
('mysql',)
('performance_schema',)
('reservations',)
('sales',)
('sys',)
('toll_data',)
('tolldata',)
('world',)

## Creating tables

## Task 3:

Create a `“MenuItems”` table using the following SQL query as a Python string:
```Python
create_menuitem_table = """CREATE TABLE MenuItems (
ItemID INT AUTO_INCREMENT,
Name VARCHAR(200),
Type VARCHAR(100),
Price INT,
PRIMARY KEY (ItemID)
);"""
```
Once you have executed the query, use the `“SHOW TABLES”` command to confirm that the table has been created.

**Tip:** The code will run in the jupyter notebook with no error if your SQL query is correct, and the table does not exist.

In [11]:
# The SQL query for MenuItems table is: 
create_menuitem_table="""
CREATE TABLE MenuItems (
ItemID INT AUTO_INCREMENT,
Name VARCHAR(200),
Type VARCHAR(100),
Price INT,
PRIMARY KEY (ItemID)
);"""

# Create MenuItems table
cursor.execute(create_menuitem_table)

# Confirm if the table is created
cursor.execute("SHOW TABLES")
for table in cursor:
    print(table)

('MenuItems',)

## Task 4: 

Create the `“Menus”` table to store data on menus using the following SQL query as a Python string.
```Python
create_menu_table = """CREATE TABLE Menus (
MenuID INT,
ItemID INT,
Cuisine VARCHAR(100),
PRIMARY KEY (MenuID,ItemID)
);"""
```
Once you have executed the query, use the `SHOW TABLES` command to confirm that the table has been created. 

**Tip:** The code will run in the jupyter notebook with no error if your SQL query is correct, and the table does not exist.

In [12]:
# The SQL query for Menu table is:
create_menu_table="""
CREATE TABLE Menus (
MenuID INT,
ItemID INT,
Cuisine VARCHAR(100),
PRIMARY KEY (MenuID,ItemID)
);"""

# Create Menu table
cursor.execute(create_menu_table)

# Confirm if the table is created
cursor.execute("SHOW TABLES")
for table in cursor:
    print(table)

('MenuItems',)
('Menus',)

## Task 5: 

Create the “Bookings” table to store data on customer bookings using the following SQL query as a Python string:

```Python
Create_booking_table = """CREATE TABLE Bookings (
BookingID INT AUTO_INCREMENT,
TableNo INT,
GuestFirstName VARCHAR(100) NOT NULL,
GuestLastName VARCHAR(100) NOT NULL,
BookingSlot TIME NOT NULL,
EmployeeID INT,
PRIMARY KEY (BookingID)
);"""
```
Once you have executed the query, use the `“SHOW TABLES”` command to confirm that the table has been created.

**Tip:** The code will run in the jupyter notebook with no error if your SQL query is correct, and the table does not exist.

In [13]:
# The SQL query for Bookings table is:
create_booking_table="""
CREATE TABLE Bookings (
BookingID INT AUTO_INCREMENT,
TableNo INT,
GuestFirstName VARCHAR(100) NOT NULL,
GuestLastName VARCHAR(100) NOT NULL,
BookingSlot TIME NOT NULL,
EmployeeID INT,
PRIMARY KEY (BookingID)
);"""

# Create Bookings table
cursor.execute(create_booking_table)

# Confirm if the table is created
cursor.execute("SHOW TABLES")
for table in cursor:
    print(table)

('Bookings',)
('MenuItems',)
('Menus',)

## Task 6: 

Create an “Orders” table to store data on customer orders using the following SQL query as a Python string:
```Python
create_orders_table = """CREATE TABLE Orders (
OrderID INT,
TableNo INT,
MenuID INT,
BookingID INT,
BillAmount INT,
Quantity INT,
PRIMARY KEY (OrderID,TableNo)
);"""
```

Once you have executed the code, use the SHOW TABLES command to confirm that the table has been created. 

**Tip:** The code will run in the jupyter notebook with no error if your sql query is correct, and the table does not exist

In [14]:
# The SQL query for Bookings table is:
create_orders_table="""
CREATE TABLE Orders (
OrderID INT,
TableNo INT,
MenuID INT,
BookingID INT,
BillAmount INT,
Quantity INT,
PRIMARY KEY (OrderID,TableNo)
);"""

# Create Orders table
cursor.execute(create_orders_table)

# Confirm if the table is created
cursor.execute("SHOW TABLES")
for table in cursor:
    print(table)

('Bookings',)
('MenuItems',)
('Menus',)
('Orders',)

In [15]:
# Let's close the cursor and the connection
if connection.is_connected():
    cursor.close()
    print("The cursor is closed.")
    connection.close()
    print("MySQL connection is closed.")
else:
    print("Connection is already closed")

The cursor is closed.
MySQL connection is closed.